
        <div class="row" id="about">
            <div class="col-12">
                <h2>About</h2>
                <img src="../images/placeholder.png" alt="placeholder image">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in</p>    
            </div>
        </div>


        <!-- Javascript for Popular Categories-->
        <div class="row" id="popular-categories">
            <div class="col-12">
                <h2>Popular Categories</h2>
                <ul id="categories">
                    <li><a href="">CS50</a></li>
                    <li><a href="">TIPS</a></li>
                    <li><a href="">BOOK RECOMMENDATIONS</a></li>
                </ul>
            </div>
        </div>
