<div class="row">
    <div class="col-6">
        <h4>Website By: Ryan Hinchliffe</h4>
    </div>

    <div class="col-6 contact-icons">
        <a href="https://github.com/ryboh1" target="_blank">
            <i class="fab fa-github-square fa-3x"></i>
        </a>

        <a href="mailto:ryanhinchliffe1@gmail.com">
            <i class="fas fa-envelope-square fa-3x"></i>
        </a>

        <a href="tel:07749525736">
            <i class="fas fa-phone-square-alt fa-3x"></i>
        </a>
    </div>
</div>